.DangoPreview {
    width: 400px;
    height: 400px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 30%;
    background-color: #575550;

    display: flex;
    justify-content: center;
    align-items: center;
}